
windows_tour_of_c-plus-plus/.vs/windows_tour_of_c-plus-plus/v16/Browse.VC.db
windows_tour_of_c-plus-plus/.vs/windows_tour_of_c-plus-plus/v16/Browse.VC.db-shm
windows_tour_of_c-plus-plus/.vs/windows_tour_of_c-plus-plus/v16/Browse.VC.db-wal
windows_tour_of_c-plus-plus/.vs/windows_tour_of_c-plus-plus/v16/Browse.VC.opendb
windows_tour_of_c-plus-plus/.vs/windows_tour_of_c-plus-plus/v16/ipch/AutoPCH/fc904254b8fe051/MAIN.ipch
windows_tour_of_c-plus-plus/Debug/windows_tour_of_c-plus-plus.vcxproj.FileListAbsolute.txt
windows_tour_of_c-plus-plus/Debug/windows_tour_of_c-plus-plus.pdb
windows_tour_of_c-plus-plus/Debug/windows_tour_of_c-plus-plus.log
windows_tour_of_c-plus-plus/Debug/windows_tour_of_c-plus-plus.ilk
windows_tour_of_c-plus-plus/Debug/windows_tour_of_c-plus-plus.exe.recipe
windows_tour_of_c-plus-plus/Debug/windows_tour_of_c-plus-plus.exe
windows_tour_of_c-plus-plus/Debug/windows_.47e89d96.tlog/windows_tour_of_c-plus-plus.lastbuildstate
windows_tour_of_c-plus-plus/Debug/windows_.47e89d96.tlog/link.write.1.tlog
windows_tour_of_c-plus-plus/Debug/windows_.47e89d96.tlog/link.read.1.tlog
windows_tour_of_c-plus-plus/Debug/windows_.47e89d96.tlog/link.command.1.tlog
windows_tour_of_c-plus-plus/Debug/windows_.47e89d96.tlog/CL.write.1.tlog
windows_tour_of_c-plus-plus/Debug/windows_.47e89d96.tlog/CL.read.1.tlog
windows_tour_of_c-plus-plus/Debug/windows_.47e89d96.tlog/CL.command.1.tlog
windows_tour_of_c-plus-plus/Debug/vc142.pdb
windows_tour_of_c-plus-plus/Debug/vc142.idb
windows_tour_of_c-plus-plus/Debug/main.obj
windows_tour_of_c-plus-plus/.vs/windows_tour_of_c-plus-plus/v16/.suo
